[submodule "ads_categories_service"]
	path = ads_categories_service
	url = https://github.com/creativecbr/spring_framework/
	branch = spring_microservices_ads
[submodule "user_service"]
	path = user_service
	url = https://github.com/creativecbr/spring_framework/
	branch = spring_microservices_users
