[submodule "ads_service"]
	path = ads_service
	url = https://github.com/creativecbr/spring_framework/
	branch = spring_microservices_ads
[submodule "users_service"]
	path = users_service
	url = https://github.com/creativecbr/spring_framework/
	branch = spring_microservices_users
[submodule "gateway"]
	path = gateway
	url = https://github.com/creativecbr/spring_framework/
	branch = spring_microservices_gateway
